# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=db
DB_PORT=5432
DB_USER=fullpassword_user
DB_PASSWORD=fullpassword_pass
DB_NAME=fullpassword_db

# JWT Configuration
JWT_SECRET=sua_chave_secreta_super_segura_aqui
JWT_EXPIRES_IN=8h
